<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ProductShopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Product</display-name>
    <servlet-name>Product</servlet-name>
    <servlet-class>com.productshopping.servlet.Product</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Product</servlet-name>
    <url-pattern>/Product</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductServlet</display-name>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.productshopping.servlet.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/ProductServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductAdd</display-name>
    <servlet-name>ProductAdd</servlet-name>
    <servlet-class>com.productshopping.servlet.ProductAdd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductAdd</servlet-name>
    <url-pattern>/ProductAdd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductEdit</display-name>
    <servlet-name>ProductEdit</servlet-name>
    <servlet-class>com.productshopping.servlet.ProductEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductEdit</servlet-name>
    <url-pattern>/ProductEdit</url-pattern>
  </servlet-mapping>
</web-app>